body {
    background-color: #eee;
    font-family: ;
    text-align: center;
}

form {
    display: inline-block;
}

shop {
    display: block;
    font-size: 1em;
    color: #c11;
    margin-top: 16px;
    margin-bottom: 16px;
}

moeda {
    display: block;
    color: #1c1;
    font-weight: bold;
}

input, textarea {
    padding: 5px 15px;
}

input[type=text], input[type=password] {
    width: 256px;
}

fieldset {
    width: 256px;
    padding: 50px;
    background-color: lightgray;
    border: 2px groove;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border: 30px solid lightgray;
    border-collapse: collapse;
}

td {
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    width: 256px;
    vertical-align: bottom;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  text-align: left;

}

.sidenav a {
  padding: 50px 15px 15px 10px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidenav a:hover {
  background-color: #818783;
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.h {
    background-color:#10a547;
    color:white;
    padding : 20px;
}

.w {
    color:white;
}
