
/*-----------------------------CORPO--------------------*/
body {
  font-family: "Lato", sans-serif;
}


form {
    display: inline-block;
}

shop {
    display: block;
    font-size: 1em;
    color: #c11;
    margin-top: 16px;
    margin-bottom: 16px;
}

moeda {
    display: block;
    color: #1c1;
    font-weight: bold;
}

input, textarea {
    padding: 5px 15px;
}

input[type=text], input[type=password] {
    width: 256px;
}

fieldset {
    width: 256px;
    padding: 50px;
    background-color: lightgray;
    border: 2px groove;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border: 30px solid lightgray;
    border-collapse: collapse;
}

td {
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    width: 256px;
    vertical-align: bottom;
}


}
/*-----------menu--------------------------------------------------------*/

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c4c4c4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.h {
    background-color:#10a547;
    color:white;
    padding : 20px;
}

.w {
    color:black;
}
.footer {
    background-color:  #d2d2d2;
    color: black;
    display: flex;
    text-align: left;
}

.icons {
    padding: 35px 100px;
}

.phone i, .email i, .marker i {
    background-color: #c4c4c4 ;
    font-size: 15px;
    padding: 12px;
    color: black;
    border-radius: 20px;
}

.phone p, .email p, .marker p {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px;
}

.info {
    padding: 35px 300px;
    text-align; right;
}


.info-title {
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.info-content {
    background-color: #d2d2d2;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
    width: 400px;
}

.info div {
    display: flex;
    font-size: 30px;
}

.info div div {
    padding: 0px 30px 0px 0px; /* 0 = cima \\ 30 = direita \\ 0 = baixo \\ 0 = esquerda */
}

.info div i {
    background-color: #c4c4c4;
    padding: 8px;
    color: black;
    border-radius: 10px;
    text-align: right;
}

.copyright {
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e3e3e3;
}



/* padding dos <p> */
.p-padding-1 {
    padding: 195px;
}

.p-padding-2 {
    padding: 60px 0px;
}

.p-padding-3 {
    padding: 25px 0;
}

.p-padding-4 {
    padding: 5px 0px;
}

.p-padding-5 {
    padding: 0px 0px;
    user-select: none;
}
/* padding dos <p> */



/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* scrollbar style */

/* cor da seleção */
::selection {
    background: #333;
    color: white;

}
/* cor da seleção */
