
/*-----------------------------CORPO--------------------*/
body {
  font-family: "Lato", sans-serif;
}


form {
    display: inline-block;
}

shop {
    display: block;
    font-size: 1em;
    color: #c11;
    margin-top: 16px;
    margin-bottom: 16px;
}

moeda {
    display: block;
    color: #1c1;
    font-weight: bold;
}

input, textarea {
    padding: 5px 15px;
}

input[type=text], input[type=password] {
    width: 256px;
}

fieldset {
    width: 256px;
    padding: 50px;
    background-color: lightgray;
    border: 2px groove;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border: 30px solid lightgray;
    border-collapse: collapse;
}

td {
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    width: 256px;
    vertical-align: bottom;
}

.h {
    background-color:#10a547;
    color:white;
    padding : 20px;
}

.w {
    color:white;
}
/*-----------menu--------------------------------------------------------*/

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#7f7b7b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.h {
    background-color:#10a547;
    color:white;
    padding : 20px;
}

.w {
    color:white;
}
