<!DOCTYPE html>
<html lang="pt-PT">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/comando.png">
<link rel="script" href="/static/scripts.js">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>Escola Secundária de Maximinos</title>
{% block titulo %}
{% endblock %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="h" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="w" href="galo"><i class="fa fa-hashtag"></i> Jogo do Galo</a>
    <a class="w" href="space"><i class="fas fa-space-shuttle"></i> Space</a>
    <a class="w" href="login"><i class="fa fa-fw fa-user"></i> Login</a>
    <a class="w" href="registo"><i class="fa fa-fw fa-lock"></i> Registo</a>
</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}


</script>

{% block conteudo %}
{% endblock %}
<center>
    </body>
    <p class="p-padding-1"></p>
    <footer class="footer">
        <div class="icons">
            <div class="phone">
                <i class="fas fa-phone"></i>
                <b><p>Telefone</p></b>
            </div>

            <div class="email">
                <i class="fas fa-envelope"></i>
                <b><p>E-mail</p></b>
            </div>

            <div class="marker">
                <i class="fas fa-map-marked-alt"></i>
                <b><p>Morada</p></b>
            </div>
        </div>
        <div class="info">
            <div>
                <div>
                    <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
                <div>
                    <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <div>
                    <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>

        </div>
    </footer>
    <b><h2>&copy 2019 Pedro Quinteiro</h2></b>
</center>
</html>
