<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Escola Secundária de Maximinos</title>
    {% block titulo %}
    {% endblock %}
    <script type="text/javascript" src="/static/scroll.js"></script>
</head>
    <div class="sidenav">
        <a class="h" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="w" href="#services"><i class="fa fa-fw fa-box"></i>Services</a>
        <a class="w" href="registo"><i class="fa fa-fw fa-user"></i>Registo</a>
        <a class="w" href="login"><i class="fa fa-fw fa-lock"></i>Login</a>
    </div>
    {% block conteudo %}
    {% endblock %}

    <b><p>&copy 2019 Pedro Quinteiro</p></b>
</body>
</html>
