
    {% extends 'layout.html' %}
    {% block titulo %}
    <title>Space</title>
    {% endblock %}
    {% block conteudo %}
<center>
    <a href="https://scratch.mit.edu/projects/313256820/" download>
        <img src="static/space invaders.jpg" alt="W3Schools">
    </a>
    <h3>Para poder jogar carregue na imagem em cima</h3>
    <p></p>
    <p></p>
    <p></p>
    <img src="static/1.png">
    <img src="static/2.png">
    <img src="static/3.png">
    <h5>(imagens retiradas do jogo)</h5>
</center>
    {% endblock %}

